<html>

<head>
    <title>PurpleEye</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/browser.css">
</head>

<body>
    <div class="menubar">
        <span class="menuitem">Local</span>
        <a class="menuitem" href="#" onclick="onClickRemote();">Remote</a>
        <a class="menuitem" href="settings.html">Settings</a>
    </div>
    <div id="outer_container">
        <div id="inner_container">
            <div id="itemlist_header">
                <div id="itemlist_cwd"></div>
            </div>
            <div id="itemlist_content"></div>
        </div>
    </div>

    <script>
        // hack for 'exports is not defined'
        var exports = {};
    </script>
    <script src="../dist/renderers/index.js"></script>
</body>

</html>