<html>

<head>
    <title>PurpleEye Settings</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/settings.css">
</head>

<body>
    <div class="menubar">
        <a class="menuitem" href="#" onclick="backToBrowser();">Local</a>
        <a class="menuitem" href="#" onclick="onClickRemote();">Remote</a>
        <span class="menuitem">Settings</span>
    </div>
    <div id="form_outer">
        <form id="form_settings" action="#">
            <a href="#" onclick="clearSettings();">Clear Settings</a>

            <div class="containerbox">
                <ul>
                    <li><input type="checkbox" id="fullscreen_viewer" name="fullscreen_viewer" checked>Fullscreen Viewer</input></li>
                    <li><input type="checkbox" id="quit_fullscreen_when_back" name="quit_fullscreen_when_back" checked>Quit fullscreen when back to browser</input></li>
                    <li><input type="checkbox" id="remember_last_dir" name="remember_last_dir" checked>Remember last directory</input></li>
                </ul>
            </div>
            <div class="containerbox">
                <ul>
                    <li>
                        <div id="cache_info"></div>
                    </li>
                    <li><a href="#" onclick="clearCache();">Clear Cache</a></li>
                </ul>
            </div>
            <ul>
                <li><input type="submit" id="save_settings" name="save_settings" value="Save Settings"></li>
            </ul>
        </form>
    </div>

    <script>
        // hack for 'exports is not defined'
        var exports = {};
    </script>
    <script src="../dist/renderers/settings.js"></script>
</body>

</html>