<html>

<head>
    <title>PurpleEye</title>
    <link rel="stylesheet" href="../css/viewer.css">
</head>

<body>
    <img id="canvas" class="main"></img>
    <div id="controlBar">
        <a href="#" onclick="backToBrowser();">Back</a>
        <a href="#" onclick="quit();">Quit</a>
        <a href="#" onclick="toggleFullscreen();">Fullscreen</a>
    </div>

    <script>
        // hack for 'exports is not defined'
        var exports = {};
    </script>
    <script src="../dist/renderer_viewer.js"></script>
</body>

</html>