<html>

<head>
    <title>PurpleEye</title>
    <link rel="stylesheet" href="../css/viewer.css">
</head>

<body>
    <div id="img-container">
        <img id="canvas" />
    </div>
    <div id="controlBar">
        <a href="#" onclick="backToBrowser();">Back</a>
        <a href="#" onclick="quit();">Quit</a>
        <a href="#" onclick="toggleFullscreen();">Fullscreen</a>
        <a href="#" onclick="next();">Next</a>
        <a href="#" onclick="prev();">Prev</a>
        <div id="pageSliderBox">
            <input type="range" id="pageSlider" min="0" max="0" onchange="onChangeSlider();"></input>
            <div id="pageIndicator"></div>
        </div>
    </div>

    <script>
        // hack for 'exports is not defined'
        var exports = {};
    </script>
    <script src="../dist/renderer_viewer.js"></script>
</body>

</html>